<table border="1">
  <tr>
    <th>Name</th>
    <th>Suffix</th>
    <th>Catch Phrase</th>
    <th>Email</th>
    <th>Start Date</th>
    <th>Industry</th>
  </tr>

  <tbody>
    <% @companies.each do |company|  %>
    <tr>
    <td><%= link_to company.name, company_path(company) %> </td>
    <td><%= company.suffix %></td>
    <td><%= company.catch_phrase %></td>
    <td><%= company.email %></td>
    <td><%= company.start_date %></td>
    <td><%= company.industry %></td>
    <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }%></td>
  </tr>
  <% end %>
  </tbody>

</table>
<td><%= link_to "Add Company", new_company_path %></td>
