<h1>PRODUCTS</h1>
<table border="1">
  <tr>
    <th> Department </th>
    <th> Name </th>
    <th> Price </th>
  </tr>


  <tbody>
    <% @company.products.each do |product| %>
    <tr>
      <td> <%= product.department %></td>
      <td> <%= product.name %></td>
      <td> <%= product.price %></td>
    </tr>
    <% end %>
  </tbody></br>


</table>

<h1> LOCATIONS</h1>
<table border="1">
  <tr>
    <th> City </th>
    <th> Street Name </th>
    <th> State </th>
    <th> Zip Code </th>
    <th> Country </th>
  </tr>


  <tbody>
    <% @company.locations.each do |locations| %>
    <tr>
      <td> <%= locations.city %></td>
      <td> <%= locations.street_name %></td>
      <td> <%= locations.state %></td>
      <td> <%= locations.zip_code %></td>
      <td> <%= locations.country %></td>
    </tr>
    <% end %>
  </tbody>


</table></br>
<%= link_to 'Back', companies_path %>
