<p><%= form_for [@company, @location] do |f| %></p>

<p><%= f.label :city %>
<%= f.text_field :city %></br></p>
<p><%= f.label :street_name %>
<%= f.text_field :street_name %></br></p>
<p><%= f.label :state %>
<%= f.text_field :state %></br></p>
<p><%= f.label :zip_code %>
<%= f.number_field :zip_code %></br></p>
<p><%= f.label :country %>
<%= f.text_field :country  %></br></p>
<p><%= f.submit %></p>
<% end %>
